In [7]:
import pandas as pd

In [12]:
dataset = pd.read_csv("data/Public_School_Characteristics_-_Current.csv")
dataset.head()

C:\Users\a\AppData\Local\Temp\ipykernel_47040\3491001884.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv("data/Public_School_Characteristics_-_Current.csv")

,X,Y,OBJECTID,NCESSCH,SURVYEAR,STABR,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,...,HIALF,HI,TRALM,TRALF,TR,WHALM,WHALF,WH,LATCOD,LONCOD
0,-9.596430e+06,4.063794e+06,1,10000500870,2021-2022,AL,100005,AL-101,Albertville City,Albertville Middle School,...,246.0,486.0,22.0,13.0,35.0,182.0,171.0,353.0,34.2602,-86.206200
1,-9.596286e+06,4.064064e+06,2,10000500871,2021-2022,AL,100005,AL-101,Albertville City,Albertville High School,...,424.0,883.0,18.0,17.0,35.0,345.0,335.0,680.0,34.2622,-86.204900
2,-9.597978e+06,4.065559e+06,3,10000500879,2021-2022,AL,100005,AL-101,Albertville City,Albertville Intermediate School,...,258.0,519.0,13.0,13.0,26.0,174.0,164.0,338.0,34.2733,-86.220100
3,-9.598168e+06,4.062784e+06,4,10000500889,2021-2022,AL,100005,AL-101,Albertville City,Albertville Elementary School,...,226.0,499.0,14.0,9.0,23.0,183.0,131.0,314.0,34.2527,-86.221806
4,-9.594994e+06,4.067782e+06,5,10000501616,2021-2022,AL,100005,AL-101,Albertville City,Albertville Kindergarten and PreK,...,134.0,289.0,9.0,9.0,18.0,107.0,116.0,223.0,34.2898,-86.193300

In [13]:
dataset.shape

(101278, 81)

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101278 entries, 0 to 101277
Data columns (total 81 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   X                 101278 non-null  float64
 1   Y                 101278 non-null  float64
 2   OBJECTID          101278 non-null  int64
 3   NCESSCH           101278 non-null  int64
 4   SURVYEAR          101278 non-null  object
 5   STABR             101278 non-null  object
 6   LEAID             101278 non-null  int64
 7   ST_LEAID          101278 non-null  object
 8   LEA_NAME          101278 non-null  object
 9   SCH_NAME          101278 non-null  object
 10  LSTREET1          101275 non-null  object
 11  LSTREET2          572 non-null     object
 12  LCITY             101278 non-null  object
 13  LSTATE            101278 non-null  object
 14  LZIP              101278 non-null  int64
 15  LZIP4             101278 non-null  object
 16  PHONE             101278 non-null  object
 17  CHARTER_TEXT      101278 non-null  object
 18  MAGNET_TEXT       101278 non-null  object
 19  VIRTUAL           101278 non-null  object
 20  GSLO              101278 non-null  object
 21  GSHI              101278 non-null  object
 22  SCHOOL_LEVEL      101278 non-null  object
 23  TITLEI_TEXT       101278 non-null  object
 24  TITLEI            101278 non-null  object
 25  STITLEI           101278 non-null  object
 26  STATUS            101278 non-null  int64
 27  SCHOOL_TYPE_TEXT  101278 non-null  object
 28  SY_STATUS_TEXT    101278 non-null  object
 29  ULOCALE           101278 non-null  object
 30  NMCNTY            101278 non-null  object
 31  TOTFRL            80958 non-null   float64
 32  FRELCH            74860 non-null   float64
 33  REDLCH            74845 non-null   float64
 34  DIRECTCERT        45008 non-null   float64
 35  PK                31986 non-null   float64
 36  KG                53977 non-null   float64
 37  G01               54406 non-null   float64
 38  G02               54474 non-null   float64
 39  G03               54446 non-null   float64
 40  G04               54245 non-null   float64
 41  G05               53005 non-null   float64
 42  G06               37887 non-null   float64
 43  G07               33037 non-null   float64
 44  G08               33307 non-null   float64
 45  G09               27815 non-null   float64
 46  G10               27684 non-null   float64
 47  G11               27715 non-null   float64
 48  G12               27641 non-null   float64
 49  G13               136 non-null     float64
 50  UG                7862 non-null    float64
 51  AE                179 non-null     float64
 52  TOTMENROL         0 non-null       float64
 53  TOTFENROL         0 non-null       float64
 54  TOTAL             99836 non-null   float64
 55  MEMBER            99836 non-null   float64
 56  FTE               96254 non-null   float64
 57  STUTERATIO        94707 non-null   float64
 58  AMALM             71100 non-null   float64
 59  AMALF             70930 non-null   float64
 60  AM                78078 non-null   float64
 61  ASALM             84411 non-null   float64
 62  ASALF             84266 non-null   float64
 63  AS_               88273 non-null   float64
 64  BLALM             90404 non-null   float64
 65  BLALF             89787 non-null   float64
 66  BL                93274 non-null   float64
 67  HPALM             62544 non-null   float64
 68  HPALF             62054 non-null   float64
 69  HP                67623 non-null   float64
 70  HIALM             97285 non-null   float64
 71  HIALF             97110 non-null   float64
 72  HI                98205 non-null   float64
 73  TRALM             93294 non-null   float64
 74  TRALF             93047 non-null   float64
 75  TR                95363 non-null   float64
 76  WHALM             97474 non-null   float64
 77  WHALF             97219 non-null   float64
 78  WH                98110 non-null   float64
 79  LATCOD            101278 non-null  float64
 80  LONCOD            101278 non-null  float64
dtypes: float64(52), int64(5), object(24)
memory usage: 62.6+ MB

In [15]:
dataset.nunique()

X            90477
Y            88599
OBJECTID    101278
NCESSCH     101278
SURVYEAR         1
             ...
WHALM         1033
WHALF         1001
WH            1788
LATCOD       88599
LONCOD       90477
Length: 81, dtype: int64